<h1>What is Planr?</h1>

<p>Planr is tool for Bitmaker students to utilize. Simply click on the week you need help with and add a concept that you want to cover during the break-out session. Once created, vote for that concept and if others need help, they will also vote on it. Planr works on a honor-system policy at the moment - don't click more than once!</p>
